*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center; 
}

section {
    height: 100vh;
}

#contact {
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.fixed-social {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-social a {
    display: block;
    text-align: center;
    color: black;
    font-size: 60px;
}

.fixed-twitter:hover {
    color: #00acee;
    transition: 0.2s;
}

.fixed-linkedin:hover {
    color: #004b74;
    transition: 0.2s;
}

.fixed-email:hover {
    color: #ffef5b;
    transition: 0.2s;
}

.menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #000000;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active>span {
    background: transparent;
}

.menu__toggler.active>span::before,
.menu__toggler.active>span::after {
    background: #000000;
    top: 0px;
}

.menu__toggler.active>span::before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.menu__toggler.active>span::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.menu {
    position: fixed;
    left: -30%;
    font-size: 30px;
    line-height: 3;
    z-index: 998;
    color: #000000;
    background: rgba(159, 241, 255, 0.6);
    -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    width: 20%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    font-family: 'Raleway', sans-serif;
}

.menu.active {
    left: 0;
}

.menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.nav-container {
    margin-left: -10px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
}

.menu a:hover {
    color: rgb(177, 177, 177);
}

.nav-container img {
    width: 200px;
    padding-bottom: 40px;
}

.title-container img {
    width: 1000px;
    padding-top: 200px;
}

.scroll-down1 img {
    padding-top: 240px;
    width: 60px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.about {
    border-bottom: 3px solid #26d7ff;
    width: 250px;
}

.about-section {
    margin: auto;
}

.bio-img {
    height: 280px;
    width: 300px;
    border-radius: 75px;
    transition: 0.3s;
    border: 2px solid #26d7ff;
}

.about-text {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.about-text h1 {
    text-indent: 60px;
}

.about-text p {
    text-indent: 30px;
}

.scroll-down2 img {
    padding-bottom: 50px;
    width: 60px;
}

.projects-title h5 {
    padding-top: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    border-bottom: 3px solid #26d7ff;
    width: 350px;
    margin-bottom: 80px;
}

.card {
    border: none;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.card img {
    border: 1px solid black;
    width: 80%;
}

.card-text {
    padding-left: 34px;
    padding-right: 28px;
    text-align: center;
}

.scroll-down3 img {
    padding-top: 120px;
    width: 60px;
}

.contact-title h5 {
    padding-top: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    border-bottom: 3px solid #26d7ff;
    width: 350px;
}

.scroll-up img {
    width: 60px;
}

.form-container {
    margin: auto;
    text-align: center;
}

.labels {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.entries {
    margin-bottom: 60px;
    width: 350px;
    resize: auto;
    border: 1px solid #26d7ff;
    border-radius: 5px;
}

.text-move {
    max-height: 180px;
    max-width: 600px;
}

.submit {
    width: 200px;
}

.mobile-links {
    display: none;
}

.footer-nav {
    font-family: 'Raleway', sans-serif;
}

.footer-nav a:hover {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.footer-p {
    font-family: 'Inconsolata', monospace;
}

.footer-copyright {
    font-family: 'Inconsolata', monospace;
}

@media (max-width: 1600px) {
    .title-container img {
        width: 800px;
    }

    .scroll-down img {
        padding-top: 20px;
        width: 60px;
    }

    .scroll-down img {
        padding-top: 20px;
        width: 60px;
    }

    .menu a {
        font-size: 25px;
    }

    .scroll-up {
        display: none;
    }
}

@media (max-width: 1050px) {
    body {
        background-image: url('./img/mobile-background.svg');
    }

    .wrapper {
        margin-top: 40px;
    }

    .fixed-social {
        display: none;
    }

    .mobile-links {
        font-size: 60px;
        display: block;
        text-align: center;
        padding-bottom: 100px;
    }

    #down1 {
        margin-top: -260px;
    }

    .projects-title {
        margin-top: 20px;
    }

    .mobile-twitter {
        color: #00acee;
    }

    .mobile-linkedin {
        color: #004b74;
    }

    .mobile-email {
        color: #363636;
    }

    .menu__toggler {
        height: 22px;
        width: 28px;
        border-radius: 2px;
    }

    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
        background: rgba(159, 241, 255, 1);
    }

    .title-container img {
        width: 500px;
        padding-top: 100px;
    }

    .about {
        text-indent: 0px;
        text-align: center;
        width: 280px;
        margin: auto;
    }

    .about-text h1 {
        text-indent: 0px;
        text-align: center;
        padding-bottom: 6px;
    }

    .scroll-down1 {
        display: none;
    }

    .scroll-down2 {
        display: none;
    }

    .scroll-down3 {
        display: none;
    }

    .form-container {
        overflow: inherit;
    }

    .labels {
        font-size: 28px;
    }

    .entries {
        margin-bottom: 40px;
    }

    .scroll-up {
        display: none;
    }

    .footer-nav-items {
        padding-top: 20px;
    }
}

/* About Loader */
.loader-container {
    padding-top: 20px;
    width: 280px;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
}

.loader:before {
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #26d7ff;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}

/* Projects Buttons */
.button {
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

.button {
    display: inline-block;
    position: relative;
    padding: 4px 6px;
    top: 0;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    border-radius: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid black;
}

.button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    color: #26d7ff;
    background: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(0, 250, 250, 0.2);
    background: rgb(0, 247, 255);
}

/* Scroll Bar */
::-webkit-scrollbar {
    background-color: rgb(226, 226, 226);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(159, 241, 255);
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-full-screen {
    cursor: none;
}
/* Arrow Bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-30px);
    }
    60% {
    transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 2s infinite;
    position: relative;
}