*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #83f1ff -100%, #ffffff 100%);
    font-family: 'Poppins', sans-serif;
}
section {
    height: 100vh;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #000000;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
    top: -8px;
}
.menu__toggler span::after {
    top: 8px;
}
.menu__toggler.active > span {
    background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #000000;
    top: 0px;
}
.menu__toggler.active > span::before {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}
.menu {
    position: fixed;
    left: -30%;
    font-size: 30px;
    line-height: 3;
    z-index: 998;
    color: #000000;
    background: rgba(159, 241, 255, 0.7);
    -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    width: 20%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}
.menu.active {
    left: 0;
}
.menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu a:hover {
    color: rgb(255, 255, 255);
}
.menulink1 {
    text-indent: 50px;
}
.menulink2 {
    text-indent: 20px;
}
.menu img {
    width: 180px;
}
.title-container img {
    width: 1000px;
    padding-top: 200px;
}
.scroll-down1 img {
    padding-top: 100px;
    width: 60px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.bio-img {
    background-image: url('./img/code1.jpg');
    height: 300px;
    width: 300px;
    border-radius: 50px;
    transition: 0.3s;
}
.scroll-down2 img {
    padding-top: 100px;
    width: 60px;
}
.projects {
    text-align: center;
}
.projects-title h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    border-bottom: 1px solid #26d7ff;
    width: 350px;
    display: inline-block;
}
@media (max-width: 1600px) {
.title-container img {
    width: 800px;
}
.scroll-down1 img {
    padding-top: 20px;
    width: 60px;
}
.scroll-down2 img {
    padding-top: 20px;
    width: 60px;
}
.menulink1 {
    text-indent: 30px;
}
.menulink2 {
    text-indent: 5px;
}
.menulink3 {
    text-indent: -10px;
}
.menu a {
    font-size: 25px;
}
.menu img {
    width: 140px;
    padding-right: 10px;
}
}
@media (max-width: 600px) {
.menu {
    width: 250px;
    left: -250px;
    padding: 50px;
    background: rgba(159, 241, 255, 1);
}
.menu img {
    width: 160px;
}
.title-container img {
    width: 500px;
    padding-top: 100px;
}
.scroll-down1 {
    display: none;
}
.scroll-down2 {
    display: none;
}
}

